<head>
    <link rel="stylesheet" href="/stylesheets/article.css">
</head>
<body>
    <div class="container" id="news">
        <div class="article-title-photo">
            <img src="images/articles/{{news.id}}.jpg" class="img-responsive" >
                {{#if news.subtopic}}
                    <a class="href-on-photo" href="article?id={{news.id}}">{{news.subtopic}}</a>
                    {{else if news.topic}}
                    <a class="href-on-photo" href="article?id={{news.id}}">{{news.topic}}</a>
                    {{else if news.region}}
                    <a class="href-on-photo" href="article?id={{news.id}}">{{news.region}}</a>
                    {{/if}}
            <span class="article-title-photo-resource">Фото: {{news.photoresource}}</span>
        </div>
        <h1 class="article-title">{{news.title}}</h1>
        <p>
            {{news.description}}
        </p>

        <div class="row">
            <div class="col-sm-9">
                <p class="article-author">{{news.author}}</p>
            </div>
            <div class="col-sm-3">
                <p class="article-date">{{news.date}}</p>
            </div>
        </div>
        <hr>
        <p class="article-text">{{news.text}}</p>
    </div>
    <script src="article_app.js"></script>
</body>
