<!--<!DOCTYPE html>-->
<!--<html lang="en" dir="ltr">-->
<!--<head>-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">-->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
<!--    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>-->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
<!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>-->
<!--    <link rel="stylesheet" href="/stylesheets/article.css">-->
<!--    <link rel="stylesheet" href="/stylesheets/menu.css">-->
<!--    <meta charset="utf-8">-->
<!--    <title></title>-->
<!--</head>-->
<!--<body>-->
<link rel="stylesheet" href="/stylesheets/article.css">
<div id="main">
    <section id="news-title">
        <div class="news-title-photo">
            <img src="images/articles/{{news.id}}.jpg" class="img-responsive" >
            {{#if news.topic}}
                <a class="href-on-photo" href="article?id={{news.id}}">{{news.topic}}</a>
            {{else if news.region}}
                <a class="href-on-photo" href="article?id={{news.id}}">{{news.region}}</a>
            {{else}}
                <a class="href-on-photo" href="article?id={{news.id}}">news</a>
            {{/if}}
        </div>
        <h1>{{news.title}}</h1>
        <p>
            {{news.description}}
        </p>
        <p class="article-author"><strong>{{news.author}}</strong></p>
        <hr>
        <p id="main-text-article">{{news.text}}</p>
    </section>
    <script src="article_app.js"></script>
</div>
<!--</body>-->
<!--</html>-->
