<head>
    <link rel="stylesheet" href="/stylesheets/article.css">
</head>
<body>
<div id="main">

    <section id="news-title">
        <div class="news-title-photo">
            <img src="images/articles/{{news.id}}.jpg" class="img-responsive" >
            {{#if news.topic}}
                <a class="href-on-photo" href="article?id={{news.id}}">{{news.topic}}</a>
            {{else if news.region}}
                <a class="href-on-photo" href="article?id={{news.id}}">{{news.region}}</a>
            {{else}}
                <a class="href-on-photo" href="article?id={{news.id}}">news</a>
            {{/if}}
        </div>
        <h1>{{news.title}}</h1>
        <p>
            {{news.description}}
        </p>
        <p class="article-author"><strong>{{news.author}}</strong></p>
        <hr>
        <p id="main-text-article">{{news.text}}</p>
    </section>
    <script src="article_app.js"></script>
</div>
</body>
