<head>
    <link rel="stylesheet" href="/stylesheets/article.css">
    <!-- You can use Open Graph tags to customize link previews.
    Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
<!--    <meta property="og:url"           content="http://www.adastra.icu/" />-->
<!--    <meta property="og:type"          content="image/jpeg" />-->
<!--    <meta property="og:title"         content="Title" />-->
<!--    <meta property="og:description"   content="description" />-->
<!--    <meta property="og:image"         content="http://adastra.icu/images/label/logo.png" />-->
<!--    <meta content='TestedCodes' property='og:title'/>-->
<!--    <meta content='Introducing Important basic codes which a programmer needs to know  ' property='og:description'/>-->
<!--    <meta content='http://www.testedcodes.net' property='og:url'/>-->
<!--    <meta content='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSN90lduXisEbSyVbU4SHa-vcRjQeSZZH7d8kY7AkX3L-f56dFhFw'-->
<!--          property='og:image'/>-->
<!--    <script>-->
<!--        function myFunction() {-->
<!--            var x = document.URL;-->
<!--            document-->
<!--                    .getElementById("facebook-share-button")-->
<!--                    .src = 'https://www.facebook.com/plugins/share_button.php?href=http://adastra.icu/&layout=button_count&size=large&mobile_iframe=true&width=83&height=28&appId';-->
<!--        }-->
<!--    </script>-->
</head>
<body onload="myFunction()">
<div id="main">
<!--    <div id="fb-root"></div>-->
<!--    <script async defer crossorigin="anonymous"-->
<!--            src="https://connect.facebook.net/uk_UA/sdk.js#xfbml=1&version=v3.2&appId=215299406056993&autoLogAppEvents=1">-->
<!--    </script>-->

    <section id="news-title">
        <div class="news-title-photo">
            <img src="images/articles/{{news.id}}.jpg" class="img-responsive" >
            {{#if news.topic}}
                <a class="href-on-photo" href="article?id={{news.id}}">{{news.topic}}</a>
            {{else if news.region}}
                <a class="href-on-photo" href="article?id={{news.id}}">{{news.region}}</a>
            {{else}}
                <a class="href-on-photo" href="article?id={{news.id}}">news</a>
            {{/if}}
        </div>
        <h1>{{news.title}}</h1>
        <p>
            {{news.description}}
        </p>
        <p class="article-author"><strong>{{news.author}}</strong></p>
        <hr>
        <p id="main-text-article">{{news.text}}</p>
<!--        <div class="fb-share-button"-->
<!--             data-href="http://www.adastra.icu/article?id=9"-->
<!--             data-layout="button" data-size="large"><a target="_blank"-->
<!--             href="http://www.adastra.icu/article?id=9"-->
<!--             class="fb-xfbml-parse-ignore">Поделиться</a>-->
<!--        </div>-->
<!--        <iframe id="facebook-share-button" src="" width="83" height="28"-->
<!--                style="border:none;overflow:hidden" scrolling="no"  frameborder="0" allowTransparency="true"></iframe>-->
    </section>
    <script src="article_app.js"></script>
</div>
</body>
<!--</html>-->
