<head>
    <link rel="stylesheet" href="/stylesheets/article.css">
</head>
<body>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/uk_UA/sdk.js#xfbml=1&version=v3.3&appId=215299406056993&autoLogAppEvents=1"></script>
    <div class="container" id="news">
        <h1 class="article-title">{{{news.title}}}</h1>
        <div class="article-title-photo">
            <img src="images/articles/{{news.id}}.jpg" class="img-responsive" >
            <span class="article-title-photo-resource">Фото: {{news.photoresource}}</span>
        </div>

        <p class="article-description">
            {{news.description}}
        </p>

        <div class="row">
            <div class="col-sm-9">
                <p class="article-author">{{news.author}}</p>
            </div>
            <div class="col-sm-3">
                <p class="article-date">{{news.date}}</p>
            </div>
        </div>
        <div id="facebook" class="fb-share-button" data-href="https://adastra.icu/article?id={{news.id}}" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fadastra.icu%2Farticle%3Fid%3D{{news.id}}&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Поделиться</a></div>
        <hr>
        <p class="article-text">{{{news.text}}}</p>
    </div>
<div id="counterVisitor">
    <span class="counter-item">0</span>
    <span class="counter-item">0</span>
    <span class="counter-item">0</span>
    <span class="counter-item">0</span>
    <span class="counter-item">0</span>
    <span class="counter-item">0</span>
</div>
<p id="localvisitor"></p>

<button id="incrementCounter">Increase Count</button>
<script src="counter.js"></script>
</body>
