<div id="main">
    <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-sm-10">
                        <a href="article?id={{main_news.id}}">
                            <section id = "first-news">
                                <div class="photo">
                                    <img src="/images/articles/{{main_news.id}}.jpg" class="img-responsive">
                                    {{#if main_news.subtopic}}
                                        <a class="href-on-photo" href="article?id={{main_news.id}}">{{main_news.subtopic}}</a>
                                    {{else}}
                                        <a class="href-on-photo" href="article?id={{main_news.id}}">останні</a>
                                    {{/if}}
                                </div>
                                <h1 class="mark">{{main_news.title}}</h1>
                                <p>{{main_news.description}}</p>
                                <p class="article-author">{{main_news.author}}</p>
                            </section>
                        </a>
            </div>
            <div class="col-lg-4 col-sm-10">
                <a href="article?id={{second_news.id}}">
                <section id="second-news">
                    <div class="second-news">
                        <div class="photo">
                            <img src="/images/articles/{{second_news.id}}.jpg" class="img-responsive">
                            {{#if second_news.subtopic}}
                                <a class="href-on-photo" href="article?id={{second_news.id}}">{{second_news.subtopic}}</a>
                            {{else}}
                                <a class="href-on-photo" href="article?id={{second_news.id}}">news</a>
                            {{/if}}
                        </div>
                        <h1 class="mark">{{second_news.title}}</h1>
                        <p>{{second_news.description}}</p>
                        <p class="article-author">{{second_news.author}}</p>
                    </div>
                </section>
                </a>
            </div>
        </div>
        <hr>
    </div>

    <section id="news-section">
        <div class="container">
            <div class="row">
                {{# each other_news}}
                <div class="col-lg-3 col-sm-10 news">
<!--                    <a href="article?id={{this.id}}">-->
                    <div class="photo">
                        <img src="/images/articles/{{this.id}}.jpg" alt="" class="img-responsive">
                        {{#if this.subtopic}}
                            <a class="href-on-photo" href="article?id={{this.id}}">{{this.subtopic}}</a>
                        {{else}}
                            <a class="href-on-photo" href="article?id={{this.id}}">news</a>
                        {{/if}}
                    </div>
                    <h1>{{this.title}}</h1>
                    <hr>
                    <a href="article?id={{this.id}}">
                    <img src="/images/label/external-link-alt-solid.svg" id="external-link"
                         class="external-link-alt-solid text-right">
                    <p>{{this.description}}</p>
                    </a>
                    <p class="article-author font-italic" >{{this.author}}</p>
                </div>

                    <div class="col-1"></div>
                {{/each}}
            </div>

         </div>
        <hr>
    </section>

    <section id="expert-section">
        <div class="section-title">
            <hr>
            <p>Думка експерта</p>
        </div>

        <div class="container">
            <div class="row">
                {{# each experts}}
                <div class="col-lg-3 col-sm-10 expert">
                    <img src="/images/experts/{{this.expert}}.jpg" alt="">
                    <blockquote class="font-italic">{{this.author}}</blockquote>
<!--                    <blockquote class="font-italic text-right">Quote</blockquote>-->
                    <hr>
                    <a href="article?id={{this.id}}">
                        <p>{{this.title}}</p>
                    </a>
                </div>
                <div class="col-lg-1 col-sm-0"></div>
                {{/each}}
            </div>
            <!-- col-xs-12 col-sm-6 col-md-4 col-lg-3 -->
        </div>
    </section>
    <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fwww.youtube.com%2F&layout=button_count&size=small&appId=215299406056993&width=134&height=20" width="134" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
    <iframe src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Fadastra.icu%2F&layout=button_count&size=small&appId=215299406056993&width=105&height=20" width="105" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
    <div class="sharethis-inline-share-buttons"></div>
</div>

