<div id="main">
    <div class="container">
                <div class="row">
                    <div class="col-8">
                        <a href="article?id={{main_news.id}}">
                            <section id = "first-news">
                                <div class="photo">
                                    <img src="public/images/articles/{{main_news.id}}.jpg" class="img-responsive">
                                    {{#if main_news.topic}}
                                        <a class="href-on-photo" href="article?id={{main_news.id}}">{{main_news.topic}}</a>
                                    {{else if main_news.region}}
                                        <a class="href-on-photo" href="article?id={{main_news.id}}">{{main_news.region}}</a>
                                    {{else}}
                                        <a class="href-on-photo" href="article?id={{main_news.id}}">news</a>
                                    {{/if}}
                                </div>
                                <h1 class="mark">{{main_news.title}}</h1>
                                <p>{{main_news.description}}</p>
                                <p class="article-author">{{main_news.author}}</p>

                            </section>
                        </a>
            </div>
            <div class="col-4">
                <a href="article?id={{second_news.id}}">
                <section id="second-news">
                    <div class="second-news">
                        <div class="photo">
                            <img src="/images/articles/{{second_news.id}}.jpg" class="img-responsive">
                            {{#if second_news.topic}}
                                <a class="href-on-photo" href="article?id={{second_news.id}}">{{second_news.topic}}</a>
                            {{else if second_news.region}}
                                <a class="href-on-photo" href="article?id={{second_news.id}}">{{second_news.region}}</a>
                            {{else}}
                                <a class="href-on-photo" href="article?id={{second_news.id}}">news</a>
                            {{/if}}
                        </div>
                        <h1 class="mark">{{second_news.title}}</h1>
                        <p>{{second_news.description}}</p>
                        <p class="article-author">{{second_news.author}}</p>
                    </div>
                </section>
                </a>
            </div>
        </div>
        <hr>
    </div>

    <section id="news-section">
        <div class="section-title">
            <hr>
            <p>News</p>
        </div>
        <div class="container">
            <div class="row">
                {{# each other_news}}

                <div class="col-3 news">
                    <a href="article?id={{this.id}}">
                    <div class="photo">
                        <img src="/images/articles/{{this.id}}.jpg" alt="" class="img-responsive">
                        {{#if this.topic}}
                            <a class="href-on-photo" href="article?id={{this.id}}">{{this.topic}}</a>
                        {{else if this.region}}
                            <a class="href-on-photo" href="article?id={{this.id}}">{{this.region}}</a>
                        {{else}}
                            <a class="href-on-photo" href="article?id={{this.id}}">news</a>
                        {{/if}}

                    </div>
                    <h1>{{this.title}}</h1>
                    <hr>
                    <a href="article?id={{this.id}}">
                    <img src="/images/label/external-link-alt-solid.svg"
                         class="external-link-alt-solid text-right">
                    <p>{{this.description}}</p>
                    <p class="article-author font-italic" >{{this.author}}</p>
                    </a>
                    </a>
                </div>

                    <div class="col-1"></div>
                {{/each}}
            </div>

         </div>
        <hr>
    </section>

    <section id="expert-section">
        <div class="section-title">
            <hr>
            <p>Expert Spotlight</p>
        </div>

        <div class="container">
            <div class="row">
                {{# each experts}}
                <div class="col-3 expert">
                    <img src="/images/experts/{{this.id_author}}.jpg" alt="">
                    <blockquote class="font-italic">{{this.author}}</blockquote>
<!--                    <blockquote class="font-italic text-right">Quote</blockquote>-->
                    <hr>
                    <a href="article?id={{this.id}}">
                        <p>{{this.title}}</p>
                    </a>
                </div>
                <div class="col-1"></div>
                {{/each}}
            </div>
            <!-- col-xs-12 col-sm-6 col-md-4 col-lg-3 -->
        </div>
    </section>
</div>

